# Created by .ignore support plugin (hsz.mobi)
/.idea/
/out/
/build/
/encode/encode.iml
/zx-spectrum/
*.bin
/backup/shark.dsk
shark.lst
shark.obj
flying-shark.rpk
!/mag/chars.bin
shark
sharl
make.log
!/build/empty.bin
/import/import.iml
!/import/graphics.bin
/atan/atan.iml
/sharm
