# Created by .ignore support plugin (hsz.mobi)
*.bin
*.rpk
shark.lst
shark.obj
shark
sharl
sharm
sharn
make.log
/.idea/
/out/
/build/
/dist/
/other/
/encode/encode.iml
/import/import.iml
/backup/shark.dsk
/zx-spectrum/
/atan/atan.iml
/sound/Flying_Shark.sid
/sound/Hishouzame_Flying_Shark_(Sharp_X68000).zip
/sound/Hishouzame_Flying_Shark_(Sharp_X68000)/
!/mag/chars.bin
!/mag/animated.bin
!/build/empty.bin
!/build/empty-1k.bin
!/build/empty-2k.bin
!/build/TITLE.TIAC
!/build/TITLE.TIAP
!/build/WINNING.TIAC
!/build/WINNING.TIAP
!/build/FIRST.TIAC
!/build/FIRST.TIAP
!/build/landing-music.bin
!/build/title-music.bin
